
<div style="width:100%; text-align:center;">
    <a type="button" 
        class="btn btn-primary btn-lg" 
        {{- if .Params.target -}}
            target='{{- .Get "target" -}}'
        {{- end -}} 
        href='{{- .Get "link" -}}'>
        {{- .Get "label" -}}
    </a>
</div>