<!-- count how many times we've called this shortcode; load the css if it's the first time -->
{{- if not ($.Page.Scratch.Get "participantcount") }}<link rel="stylesheet" href="/css/static-gallery.css" />{{ end }}
{{- $.Page.Scratch.Add "participantcount" 1 -}}
<!-- use either src or link-thumb for thumbnail image -->
{{- $thumb := .Get "src" | default (printf "%s." (.Get "thumb") | replace (.Get "link") ".") }}
<div class="image-box">
  <a {{ with .Get "link" }}href="{{.}}"{{ end }} target="_blank"><img src="{{ $thumb }}" {{ with .Get "alt" }}alt="{{.}}"{{ end }}/></a>
</div>