.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between
}

.image-box {
  flex: 0 0 auto;
  max-width: 150px;
}


@media only screen and (min-width : 365px) {
    /* Tablet view: 2 tiles */
    .gallery-container .image-box {
        width: 48%;
        padding: 1%;
    }
}
@media only screen and (min-width : 480px) {
    /* Small desktop / ipad view: 3 tiles */
    .gallery-container .image-box {
        width: 30%;
    }
}
@media only screen and (min-width : 720px) {
    /* The rest, 6 tiles */
    .gallery-container .image-box {
        width: 16%;
        padding: 1%;
    }
}